/**
 * Omen Repository | Spark
 *
 * Author: Valentin Duricu <valentin.duricu (at) gmail.com>
 * Date: 23.06.2015
 * URL: http://omen.cloud-studio.ro
 * License: CC-BY-SA-4.0
 */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300,600);

/* Colors: */
@white: #ffffff;
@black: #282828;
@yellow: #fed100;
@gray: #ababab;
@darkGray: #656565;

@highlight: #439c00;
@highlightBorder: #317200;
@highlightBorderLight: #51BD00;

/* Main elements */
html, body {
    width: 100%;
    height: 100%;
    //    overflow: hidden;

    font-weight: 300;
    font-size: 12pt;
}

a, .btn-link {
    color: @highlight;
}

.omen-button {
    color: @white;
    background-color: @highlight;
    border-color: @highlightBorderLight;

    &:hover {
        background-color: @highlightBorder;
        border-color: @highlight;
    }
}

.omen-elementHeader {
    font-weight: bold;
    font-size: 14pt;
}

/* Helpers */
.imageNoText(@cursor, @width, @image) {
    color: transparent;
    cursor: @cursor;
    text-indent: -5000px;
    display: block;

    width: @width;
    background: transparent url(@image) no-repeat center center;
}

.imageNoTextHeight(@height) {
    height: @height;
}

.imageNoTextLineHeight(@height) {
    line-height: @height;
}

.imageNoTextH(@cursor, @width, @height, @image) {
    .imageNoText(@cursor, @width, @image);
    .imageNoTextHeight(@height);
}

.imageNoTextLH(@cursor, @width, @height, @image) {
    .imageNoText(@cursor, @width, @image);
    .imageNoTextLineHeight(@height);
}

/* Header */
.omen-headerContainer {
    background: @highlight;
    color: @white;
    border-bottom: 1px solid @highlightBorder;

    font-family: "Open Sans", sans-serif;
    font-weight: 300;

    padding: 30px 0 40px 0;
    margin-bottom: 20px;

    .omen-topPart {
        a {
            color: @white;
        }

        .omen-logo {
            .imageNoTextLH(default, 168px, 75px, '../images/omen.logo.png');
        }

        .omen-userProfile {
            text-align: right;

            ul {
                float: right;
                padding-top: 10px;
                margin-right: 15px;
                list-style: none;

                li {
                    .omen-mainlink {
                        font-size: 17pt;
                        color: @yellow;
                    }
                    .omen-sidelink {
                        font-size: 11pt;
                        margin-left: 15px;
                    }
                }
            }

            .omen-userImage {
                float: right;
                img {
                    width: 75px;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    border-radius: 50%;

                    &.omen-noUserLogin {
                        border: none;
                    }
                }
                a {
                    text-decoration: none;
                }
            }
        }
    }

    .omen-searchField {
        margin-top: 40px;

        input[placeholder] {
            font-style: italic;
            font-weight: 300;
        }
    }
}

.omen-mainContent {
    margin-bottom: 20px;

    .omen-searchInfo {
        text-align: center;
    }

    .omen-packages {
        .omen-package {
            .omen-title {
                font-size: 24pt;
                color: @highlight;

                a {
                    color: @highlight;
                }
            }
            .omen-version {
                font-size: 12pt;
                font-weight: 300;
                color: @gray;
            }
            .omen-provider {
                color: @gray;

                a {
                    color: @gray;

                    &:hover {
                        text-decoration: none;
                        color: @highlightBorder;
                    }
                }
            }
            .omen-description {
                text-align: justify;
            }
            .omen-tags {
                color: @gray;
                a {
                    color: @gray;

                    &:hover {
                        text-decoration: none;
                        color: @highlightBorder;
                    }

                    &:after {
                        content: ",";
                        color: @gray;
                    }

                    &:last-child:after {
                        content: "";
                    }
                }
            }
        }
    }
}

.omen-loginContainer {
    padding-top: 50px;
    padding-bottom: 30px;

    .omen-loginBox {
        //        background: @highlight;
        //        border: 1px solid @highlightBorderLight;
        //        color: @white;

        //        -webkit-box-shadow: 0 3px 15px 2px rgba(60, 60, 60, 0.5);
        //        box-shadow: 0 3px 15px 2px rgba(60, 60, 60, 0.5);

        //        -webkit-border-radius: 10px;
        //        border-radius: 10px;
        padding-bottom: 15px;

        h1 {
            text-align: center;
            font-weight: 300;
            padding-bottom: 10px;
        }

        .omen-inputBox {
            margin-bottom: 10px;
        }

        .omen-linkBox {
            text-align: center;
        }

        .omen-tokens {
            margin: 0;
            list-style: none;

            text-align: justify;

            li {
                margin-bottom: 5px;
            }
        }
    }
}

.omen-footerContainer {
    padding: 30px 0;

    //    color: @white;
    //    background: @darkGray;

    color: @darkGray;
    font-size: 10pt;

    a {
        color: @gray;
    }

    .omen-poweredBy {
        text-align: center;
    }

}

.omen-profile {
    .omen-projects {
        .omen-projectsCount {
            margin: 10px 0;
            display: block;

            .omen-count {
            }
        }
        .omen-projectsList {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                margin-bottom: 10px;

            }
        }
    }

    .omen-userProfile {

        .omen-userImage {
            display: block;
            margin: auto;

            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;

            -webkit-box-shadow: 0 3px 15px 2px rgba(60, 60, 60, 0.5);
            box-shadow: 0 3px 15px 2px rgba(60, 60, 60, 0.5);
        }

        .omen-userInformation {
            list-style: none;
            padding: 0;
            margin: 20px 0 0 0;
            text-align: center;

            li {
                margin-bottom: 2px;
            }
        }
    }
}

.omen-projectDetails {
    h3 {
        font-weight: 300;
    }

    .omen-projectLinks {
        list-style: none;
        margin: 30px 0 0 0;
        padding: 0;

        li {
            margin-bottom: 10px;
            font-size: 11pt;

            border-bottom: 1px dotted @gray;

            &.omen-elementHeader {
                margin-top: 15px;
                margin-bottom: 3px;
                border-bottom: none;
            }

            &.omen-downloadElement {
                font-size: 15pt;
                color: @darkGray;
                vertical-align: middle;
                margin-bottom: 15px;
                border-bottom: none;
            }

            &.omen-tags {
                color: @gray;
                a {
                    color: @gray;

                    &:hover {
                        text-decoration: none;
                        color: @highlightBorder;
                    }

                    &:after {
                        content: ",";
                        color: @gray;
                    }

                    &:last-child:after {
                        content: "";
                    }
                }
            }
            &.omen-versions {
                color: @darkGray;
                span {
                    &:after {
                        content: ",";
                        color: @gray;
                    }

                    &:last-child:after {
                        content: "";
                    }
                }
            }
            &.omen-contributors {
                margin-top: 10px;
                li {
                    border-bottom: none;
                }
            }
        }
    }
}